rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function hasStatus() {
      return request.resource.data.keys().hasAll(['status'])
        && request.resource.data.status is string;
    }

    match /jobs/{docId} {
      allow read: if true;
      allow create, update: if hasStatus();
      allow delete: if true;
    }

    match /uploads/{docId} {
      allow read: if true;
      allow create, update: if hasStatus();
      allow delete: if true;
    }
  }
}
